body {
    margin:0;
    font-family: Trebuchet MS, Arial, Verdana, serif;
    background-color: #F5F5F5
}



a, a:visited {
  text-decoration:none;
  outline:none;
  color:#54a6de;
}

a:hover{
  text-decoration:underline;
  border-radius:10px;
  }

}
header{
  display:block;
  position:relative;
}

nav{
  display: block;
  margin: 300px auto 0;
  text-align: center;
  width: 600px;
}


.logo {
  max-height: 120px;
  max-width: 120px;
  float:left;
  margin-left: 100px;
  margin-right: 100px;
}

.topnav 
{
  
  overflow: hidden;
  background-color: white;
}


.topnav a
{ 

  float:left;
  align-content: right;
  display: block;
  color: #2874A6  ;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

.topnav a:hover 
{
  background-color: #ddd;
  color: black;
}

.topnav a.active 
{ 
    border-radius:10px;   
    color: #2874A6 ;
} 

h1 {
  color:white;
background-color: #566573 
 }